.btn
    @include fonts('Rubik', normal, normal, 1rem, 19px)
    @include flex(center, center)
    @include size(auto, 56px)
    background-color: $btnInactive_red
    border-radius: 1em
    color: #fff
    cursor: pointer
    text-decoration: none
    &:hover
        background-color: $btnActive_red
        transition: background-color .3s ease-in-out
.section__title
    @include fonts(Rubik, normal, bold, 48px, 57px)
    color: $heading_dark-blue
    text-align: center
